<?xml version="1.0"?>
<connectionStrings.qa>
	<add name="Master" connectionString="SERVER=(local);DATABASE=master;trusted_connection=true;TrustServerCertificate=Yes;" providerName="System.Data.SqlClient" />

	<add name="ISI.ServiceExample" connectionString="SERVER=(local);DATABASE=ISI.ServiceExample;UID=ISI.ServiceExample.User;Password=889c2181-736b-45a8-813c-23f9b75831bf;TrustServerCertificate=Yes;" />
</connectionStrings.qa>